<form #f="ngForm">
    <label>name</label>
    <input type="text" name="test" [(ngModel)]="product.name" required minlength="3" #n="ngModel">
    <div *ngIf="n.invalid && n.touched">
        <div *ngIf="n?.errors?.['required']">
required
        </div>
        <div *ngIf="n?.errors?.['minlength']">
            minlength
                    </div>
    </div>
    <label>email</label>
    <input type="text" name="email" [(ngModel)]="product.email">
    <label>tel</label>
    <input type="text" name="tel" [(ngModel)]="product.tel" pattern="[0-9]{8}" id="test">
    <div *ngIf="n.invalid && n.touched">
        pattern
    </div>
    <input type="submit" value="add" (click)="showF(f)" [disabled]="f.invalid">

</form>
<hr>
<form #t="ngForm">
    <label>name</label>
    <input type="text" name="test" ngModel required minlength="3" #y="ngModel">
    <div *ngIf="y.invalid ">
      <app-error [dataInvalid]="y"></app-error>
    </div>
    <label>email</label>
    <input type="text" name="email" ngModel>
    <label>tel</label>
    <input type="text" name="tel" ngModel pattern="[0-9]{8}" id="test">
    <div *ngIf="n.invalid && n.touched">
        pattern
    </div>
    <input type="submit" value="add" (click)="showF(f)" [disabled]="f.invalid">

</form>
<hr>
<h1>add product</h1>

<form #c="ngForm">
    <label>title</label>
    <input type="text" name="title" [(ngModel)]="p.title" required minlength="3" #n="ngModel">
    <label>description</label>
    <input type="text" name="description" [(ngModel)]="p.description">
    <label>imahes</label>
    <input type="text" name="images" [(ngModel)]="p.image" pattern="[0-9]{8}" id="test">
    
    <input type="submit" value="add" (click)="addCategorie(c)" >

</form>